pipelines/NycTaxi.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Nombre del área de trabajo","defaultValue":"synw-nyctaxi-dev"},"synw-nyctaxi-dev-WorkspaceDefaultStorage":{"type":"string"},"HttpServer3":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/NycTaxi')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"description":"Get list of NYC Taxis urls (Green & Yellow)","activities":[{"name":"Lookup1","type":"Lookup","dependsOn":[{"activity":"CreacionJSON","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"dataset":{"referenceName":"UrlsTaxi","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"Lookup1","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Lookup1').output.value","type":"Expression"},"batchCount":3,"activities":[{"name":"Copy data1","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"ParquetSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"ParquetReadSettings"}},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"Parquet3","type":"DatasetReference","parameters":{"NombreArchivo":{"value":"@item().url_part","type":"Expression"}}}],"outputs":[{"referenceName":"Parquet4","type":"DatasetReference","parameters":{"p_anio":{"value":"@item().anio","type":"Expression"},"p_mes":{"value":"@item().mes","type":"Expression"},"p_tipo":{"value":"@item().tipo","type":"Expression"}}}]}]}},{"name":"Rejected","type":"SynapseNotebook","dependsOn":[{"activity":"ForEach1","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebook":{"referenceName":"ArchivosRejected","type":"NotebookReference"},"snapshot":true,"sparkPool":{"referenceName":"nyctaxispark","type":"BigDataPoolReference"},"executorSize":"Small","conf":{},"driverSize":"Small"}},{"name":"CreacionJSON","type":"SynapseNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebook":{"referenceName":"nyctaxiscrap","type":"NotebookReference"},"snapshot":true,"sparkPool":{"referenceName":"nyctaxispark","type":"BigDataPoolReference"},"executorSize":"Small","conf":{},"driverSize":"Small"}},{"name":"LimpiarCarpetas","type":"SynapseNotebook","dependsOn":[{"activity":"Rejected","dependencyConditions":["Succeeded"]},{"activity":"ForEach1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebook":{"referenceName":"LimpiarCarpetasVacias","type":"NotebookReference"},"snapshot":true,"sparkPool":{"referenceName":"nyctaxispark","type":"BigDataPoolReference"},"executorSize":"Small","conf":{},"driverSize":"Small"}},{"name":"Cuarentena","type":"SynapseNotebook","dependsOn":[{"activity":"LimpiarCarpetas","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebook":{"referenceName":"Cuarentena","type":"NotebookReference"},"snapshot":true,"sparkPool":{"referenceName":"nyctaxispark","type":"BigDataPoolReference"},"executorSize":"Small","conf":{},"driverSize":"Small"}},{"name":"Processed","type":"SynapseNotebook","dependsOn":[{"activity":"Cuarentena","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebook":{"referenceName":"Processed","type":"NotebookReference"},"snapshot":true,"sparkPool":{"referenceName":"nyctaxispark","type":"BigDataPoolReference"},"executorSize":"Small","conf":{},"driverSize":"Small"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2026-04-15T16:51:55Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/UrlsTaxi')]","[concat(variables('workspaceId'), '/notebooks/ArchivosRejected')]","[concat(variables('workspaceId'), '/bigDataPools/nyctaxispark')]","[concat(variables('workspaceId'), '/notebooks/nyctaxiscrap')]","[concat(variables('workspaceId'), '/notebooks/LimpiarCarpetasVacias')]","[concat(variables('workspaceId'), '/notebooks/Cuarentena')]","[concat(variables('workspaceId'), '/notebooks/Processed')]","[concat(variables('workspaceId'), '/datasets/Parquet3')]","[concat(variables('workspaceId'), '/datasets/Parquet4')]"]},{"name":"[concat(parameters('workspaceName'), '/UrlsTaxi')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('synw-nyctaxi-dev-WorkspaceDefaultStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"lista_urls.json","fileSystem":"nyctaxi-raw"}},"schema":{"type":"object","properties":{"url_part":{"type":"string"},"anio":{"type":"string"},"mes":{"type":"string"},"tipo":{"type":"string"}}}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/ArchivosRejected')]","type":"Microsoft.Synapse/workspaces/notebooks","apiVersion":"2019-06-01-preview","properties":{"nbformat":4,"nbformat_minor":2,"bigDataPool":{"referenceName":"nyctaxispark","type":"BigDataPoolReference"},"sessionProperties":{"driverMemory":"28g","driverCores":4,"executorMemory":"28g","executorCores":4,"numExecutors":1,"runAsWorkspaceSystemIdentity":false,"conf":{"spark.dynamicAllocation.enabled":"false","spark.dynamicAllocation.minExecutors":"1","spark.dynamicAllocation.maxExecutors":"1","spark.autotune.trackingId":"b0f1d295-bde7-4027-a1b4-bb88c4a33161"}},"metadata":{"saveOutput":true,"enableDebugMode":false,"language_info":{"name":"python"},"a365ComputeOptions":{"id":"/subscriptions/4789492b-45b8-4131-a6a2-7774022abbb2/resourceGroups/rg-nyctaxianalysis-dev/providers/Microsoft.Synapse/workspaces/synw-nyctaxi-dev/bigDataPools/nyctaxispark","name":"nyctaxispark","type":"Spark","endpoint":"https://synw-nyctaxi-dev.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/nyctaxispark","auth":{"type":"AAD","authResource":"https://dev.azuresynapse.net","authHeader":null},"sparkVersion":"3.5","nodeCount":3,"cores":4,"memory":28,"extraHeader":null},"sessionKeepAliveTimeout":15},"cells":[{"cell_type":"code","metadata":{},"source":["from pyspark.sql import SparkSession\n"," \n","# Crear una sesión de Spark\n","spark = SparkSession.builder \\\n","    .appName(\"Limpiar Carpetas\") \\\n","    .getOrCreate()"],"outputs":[],"execution_count":1},{"cell_type":"code","metadata":{},"source":["import json\n","from notebookutils import mssparkutils\n","\n","# CONFIGURACIÓN\n","RUTA_JSON_ORIGINAL = f\"abfss://nyctaxi-raw@stnycanalysis.dfs.core.windows.net/lista_urls.json\"\n","RUTA_RAW = f\"abfss://nyctaxi-raw@stnycanalysis.dfs.core.windows.net/raw/\"\n","RUTA_RECHAZADOS = f\"abfss://nyctaxi-raw@stnycanalysis.dfs.core.windows.net/rejected/fallos_descarga.json\"\n","\n","print(\"Auditor en marcha: Buscando archivos fallidos...\")\n","\n","# Leemos la lista original que intentó descargar la pipeline\n","texto_json = mssparkutils.fs.head(RUTA_JSON_ORIGINAL, 1024000)\n","lista_esperada = json.loads(texto_json)\n","\n","archivos_rechazados = []\n","\n","# DETECTAR LOS FALLOS\n","for item in lista_esperada:\n","    anio = item['anio']\n","    mes = item['mes']\n","    tipo = item['tipo']\n","    archivo = item['url_part']\n","    \n","    ruta_destino = f\"{RUTA_RAW}year={anio}/month={mes}/type={tipo}/{archivo}\"\n","    \n","    try:\n","        info = mssparkutils.fs.ls(ruta_destino)[0]\n","        # Si existe pero está vacío, también lo consideramos un fallo\n","        if info.size == 0:\n","            item['motivo_rechazo'] = \"Archivo de 0 bytes\"\n","            archivos_rechazados.append(item)\n","    except:\n","        # Si da error, significa que el Copy Data falló por el 403\n","        item['motivo_rechazo'] = \"Error de descarga (403/No encontrado)\"\n","        archivos_rechazados.append(item)\n","\n","# GUARDAR EL REGISTRO EN REJECTED\n","if archivos_rechazados:\n","    json_rechazados = json.dumps(archivos_rechazados, indent=2)\n","    mssparkutils.fs.put(RUTA_RECHAZADOS, json_rechazados, True)\n","    print(f\"Se detectaron {len(archivos_rechazados)} fallos.\")\n","    print(f\"Se ha guardado el listado en: {RUTA_RECHAZADOS}\")\n","else:\n","    print(\"La pipeline se ejecutó a la perfección. No hay archivos rechazados.\")"],"outputs":[],"execution_count":2},{"cell_type":"code","metadata":{},"source":["spark.stop()"],"outputs":[],"execution_count":3}]},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/nyctaxispark')]","type":"Microsoft.Synapse/workspaces/bigDataPools","apiVersion":"2019-06-01-preview","properties":{"autoPause":{"enabled":true,"delayInMinutes":15},"autoScale":{"enabled":true,"maxNodeCount":10,"minNodeCount":3},"nodeCount":0,"nodeSize":"Small","nodeSizeFamily":"MemoryOptimized","sparkVersion":"3.5","isComputeIsolationEnabled":false,"sessionLevelPackagesEnabled":true,"annotations":[]},"dependsOn":[],"location":"northeurope"},{"name":"[concat(parameters('workspaceName'), '/nyctaxiscrap')]","type":"Microsoft.Synapse/workspaces/notebooks","apiVersion":"2019-06-01-preview","properties":{"nbformat":4,"nbformat_minor":2,"bigDataPool":{"referenceName":"nyctaxispark","type":"BigDataPoolReference"},"sessionProperties":{"driverMemory":"28g","driverCores":4,"executorMemory":"28g","executorCores":4,"numExecutors":1,"runAsWorkspaceSystemIdentity":true,"conf":{"spark.dynamicAllocation.enabled":"true","spark.dynamicAllocation.minExecutors":"1","spark.dynamicAllocation.maxExecutors":"2","spark.autotune.trackingId":"b62b066c-1104-406c-94ac-4a6c3dde8860"}},"metadata":{"saveOutput":true,"enableDebugMode":true,"language_info":{"name":"python"},"a365ComputeOptions":{"id":"/subscriptions/4789492b-45b8-4131-a6a2-7774022abbb2/resourceGroups/rg-nyctaxianalysis-dev/providers/Microsoft.Synapse/workspaces/synw-nyctaxi-dev/bigDataPools/nyctaxispark","name":"nyctaxispark","type":"Spark","endpoint":"https://synw-nyctaxi-dev.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/nyctaxispark","auth":{"type":"AAD","authResource":"https://dev.azuresynapse.net","authHeader":null},"sparkVersion":"3.5","nodeCount":3,"cores":4,"memory":28,"extraHeader":null},"sessionKeepAliveTimeout":15},"cells":[{"cell_type":"code","metadata":{},"source":["from pyspark.sql import SparkSession\n"," \n","# Crear una sesión de Spark\n","spark = SparkSession.builder \\\n","    .appName(\"Scrap NYCTaxi\") \\\n","    .getOrCreate()"],"outputs":[],"execution_count":1},{"cell_type":"code","metadata":{},"source":["import json\n","from notebookutils import mssparkutils\n","\n","# CONFIGURACIÓN\n","RUTA_JSON = f\"abfss://nyctaxi-raw@stnycanalysis.dfs.core.windows.net/lista_urls.json\"\n","\n","# Limite\n","ANIO_LIMITE = 2026\n","MES_LIMITE = 2\n","\n","# GENERADOR EXACTO HASTA FEBRERO 2026\n","tareas = []\n","print(f\"Generando catálogo hasta {MES_LIMITE:02d}-{ANIO_LIMITE}...\")\n","\n","for anio in range(2009, ANIO_LIMITE + 1):\n","    \n","    # Si estamos en años anteriores, recorremos los 12 meses.\n","    # Si llegamos al año límite (2026), paramos en el mes límite (2).\n","    mes_final = 12 if anio < ANIO_LIMITE else MES_LIMITE\n","    \n","    for mes in range(1, mes_final + 1):\n","        for tipo in [\"yellow\", \"green\"]:\n","            \n","            # Regla de negocio: Taxis verdes empezaron en agosto de 2013\n","            if tipo == \"green\" and (anio < 2013 or (anio == 2013 and mes < 8)):\n","                continue\n","                \n","            archivo_parquet = f\"{tipo}_tripdata_{anio}-{mes:02d}.parquet\"\n","            tareas.append({\n","                \"url_part\": archivo_parquet,\n","                \"anio\": str(anio),\n","                \"mes\": f\"{mes:02d}\",\n","                \"tipo\": tipo\n","            })\n","\n","# GUARDAR EL JSON EN EL DATA LAKE\n","json_texto = json.dumps(tareas, indent=2)\n","mssparkutils.fs.put(RUTA_JSON, json_texto, True)\n","\n","print(f\"¡Listo! Se ha generado el JSON con exactamente {len(tareas)} URLs.\")\n","print(\"Ahora tu Pipeline se detendrá en febrero de 2026 y no creará carpetas basura.\")"],"outputs":[],"execution_count":2},{"cell_type":"code","metadata":{},"source":["spark.stop()"],"outputs":[],"execution_count":3}]},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/LimpiarCarpetasVacias')]","type":"Microsoft.Synapse/workspaces/notebooks","apiVersion":"2019-06-01-preview","properties":{"nbformat":4,"nbformat_minor":2,"bigDataPool":{"referenceName":"nyctaxispark","type":"BigDataPoolReference"},"sessionProperties":{"driverMemory":"28g","driverCores":4,"executorMemory":"28g","executorCores":4,"numExecutors":1,"runAsWorkspaceSystemIdentity":false,"conf":{"spark.dynamicAllocation.enabled":"false","spark.dynamicAllocation.minExecutors":"1","spark.dynamicAllocation.maxExecutors":"1","spark.autotune.trackingId":"b61662db-02ab-4188-a785-23be8d099f3d"}},"metadata":{"saveOutput":true,"enableDebugMode":false,"language_info":{"name":"python"},"a365ComputeOptions":{"id":"/subscriptions/4789492b-45b8-4131-a6a2-7774022abbb2/resourceGroups/rg-nyctaxianalysis-dev/providers/Microsoft.Synapse/workspaces/synw-nyctaxi-dev/bigDataPools/nyctaxispark","name":"nyctaxispark","type":"Spark","endpoint":"https://synw-nyctaxi-dev.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/nyctaxispark","auth":{"type":"AAD","authResource":"https://dev.azuresynapse.net","authHeader":null},"sparkVersion":"3.5","nodeCount":3,"cores":4,"memory":28,"extraHeader":null},"sessionKeepAliveTimeout":15},"cells":[{"cell_type":"code","metadata":{},"source":["from pyspark.sql import SparkSession\n"," \n","# Crear una sesión de Spark\n","spark = SparkSession.builder \\\n","    .appName(\"Scrap NYCTaxi\") \\\n","    .getOrCreate()"],"outputs":[]},{"cell_type":"code","metadata":{},"source":["from notebookutils import mssparkutils\n","\n","RUTA_RAW = \"abfss://nyctaxi-raw@stnycanalysis.dfs.core.windows.net/raw/\"\n","\n","print(\"Iniciando barrido de limpieza en capa RAW...\")\n","\n","# Obtenemos todas las carpetas de años:\n","carpetas_anio = mssparkutils.fs.ls(RUTA_RAW)\n","\n","carpetas_tipo_borradas = 0\n","carpetas_mes_borradas = 0\n","\n","for c_anio in carpetas_anio:\n","    carpetas_mes = mssparkutils.fs.ls(c_anio.path)\n","    \n","    for c_mes in carpetas_mes:\n","        # Limpieza de carpetas de TIPO (Yellow, Green, etc.):\n","        sub_carpetas_tipo = mssparkutils.fs.ls(c_mes.path)\n","        \n","        for c_tipo in sub_carpetas_tipo:\n","            archivos = mssparkutils.fs.ls(c_tipo.path)\n","            \n","            # Si la carpeta está vacía o el archivo pesa 0 bytes, borramos la carpeta del tipo:\n","            if len(archivos) == 0 or archivos[0].size == 0:\n","                mssparkutils.fs.rm(c_tipo.path, True)\n","                carpetas_tipo_borradas += 1\n","        \n","        # Verificación del MES\n","        # Consultamos de nuevo el contenido del mes tras la limpieza anterior:\n","        contenido_mes_actualizado = mssparkutils.fs.ls(c_mes.path)\n","        \n","        if len(contenido_mes_actualizado) == 0:\n","            mssparkutils.fs.rm(c_mes.path, True)\n","            carpetas_mes_borradas += 1\n","\n","print(\"---\")\n","print(f\"Limpieza finalizada.\")\n","print(f\"Subcarpetas de tipo eliminadas: {carpetas_tipo_borradas}\")\n","print(f\"Carpetas de mes eliminadas: {carpetas_mes_borradas}\")"],"outputs":[]},{"cell_type":"code","metadata":{},"source":["spark.stop()"],"outputs":[]}]},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/Cuarentena')]","type":"Microsoft.Synapse/workspaces/notebooks","apiVersion":"2019-06-01-preview","properties":{"nbformat":4,"nbformat_minor":2,"bigDataPool":{"referenceName":"nyctaxispark","type":"BigDataPoolReference"},"sessionProperties":{"driverMemory":"28g","driverCores":4,"executorMemory":"28g","executorCores":4,"numExecutors":1,"runAsWorkspaceSystemIdentity":false,"conf":{"spark.dynamicAllocation.enabled":"false","spark.dynamicAllocation.minExecutors":"1","spark.dynamicAllocation.maxExecutors":"1","spark.autotune.trackingId":"e8e07bb8-3cc7-459c-a350-69ac7053de6e"}},"metadata":{"saveOutput":true,"enableDebugMode":false,"language_info":{"name":"python"},"a365ComputeOptions":{"id":"/subscriptions/4789492b-45b8-4131-a6a2-7774022abbb2/resourceGroups/rg-nyctaxianalysis-dev/providers/Microsoft.Synapse/workspaces/synw-nyctaxi-dev/bigDataPools/nyctaxispark","name":"nyctaxispark","type":"Spark","endpoint":"https://synw-nyctaxi-dev.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/nyctaxispark","auth":{"type":"AAD","authResource":"https://dev.azuresynapse.net","authHeader":null},"sparkVersion":"3.5","nodeCount":3,"cores":4,"memory":28,"extraHeader":null},"sessionKeepAliveTimeout":15},"cells":[{"cell_type":"code","metadata":{},"source":["from pyspark.sql import SparkSession\n"," \n","# Crear una sesión de Spark\n","spark = SparkSession.builder \\\n","    .appName(\"Cuarentena NYC Taxis\") \\\n","    .getOrCreate()"],"outputs":[],"execution_count":3},{"cell_type":"code","metadata":{},"source":["from pyspark.sql.functions import col, lit, coalesce, to_timestamp\n"," \n","# Configuración de estabilidad máxima\n","spark.conf.set(\"spark.sql.parquet.enableVectorizedReader\", \"false\")\n","spark.conf.set(\"spark.sql.parquet.mergeSchema\", \"false\")\n","spark.conf.set(\"spark.sql.caseSensitive\", \"false\")\n"," \n","print(\"Iniciando CUARENTENA: Estrategia de Aislamiento Mensual...\")\n"," \n","RUTA_BASE = \"abfss://nyctaxi-raw@stnycanalysis.dfs.core.windows.net/raw/\"\n"," \n","def procesar_segmento_blindado(año, mes, tipo):\n","    # Formateamos el mes a dos dígitos (01, 02...)\n","    mes_str = str(mes).zfill(2)\n","    ruta = f\"{RUTA_BASE}year={año}/month={mes_str}/type={tipo}/*.parquet\"\n","   \n","    try:\n","        # Leemos el mes específico de forma aislada\n","        df_mes = spark.read.parquet(ruta)\n","        cols = df_mes.columns\n","       \n","        def buscar(lista):\n","            for c in lista:\n","                if c in cols: return col(c)\n","            return lit(None)\n"," \n","        # Aplicamos CAST inmediatamente para estandarizar tipos\n","        return df_mes.select(\n","            lit(tipo.capitalize()).alias(\"taxi_color\"),\n","            to_timestamp(coalesce(\n","                buscar([\"tpep_pickup_datetime\", \"lpep_pickup_datetime\", \"pickup_datetime\", \"Trip_Pickup_DateTime\"])\n","            )).alias(\"pickup_datetime\"),\n","            to_timestamp(coalesce(\n","                buscar([\"tpep_dropoff_datetime\", \"lpep_dropoff_datetime\", \"dropoff_datetime\", \"Trip_Dropoff_DateTime\"])\n","            )).alias(\"dropoff_datetime\"),\n","            buscar([\"trip_distance\", \"Trip_Distance\"]).cast(\"double\").alias(\"trip_distance\"),\n","            coalesce(buscar([\"total_amount\", \"Total_Amt\"]), lit(0.0)).cast(\"double\").alias(\"total_amount\"),\n","            buscar([\"PULocationID\"]).cast(\"long\").alias(\"PULocationID\"),\n","            buscar([\"DOLocationID\"]).cast(\"long\").alias(\"DOLocationID\")\n","        )\n","    except:\n","        # Si no existe la carpeta para ese mes/tipo, saltamos silenciosamente\n","        return None\n"," \n","try:\n","    df_acumulado = None\n","    años = range(2009, 2026)\n","    meses = range(1, 13)\n","    tipos = [\"yellow\", \"green\"]\n"," \n","    print(\"Procesando malla de datos (mes por mes)...\")\n","   \n","    for a in años:\n","        for m in meses:\n","            for t in tipos:\n","                df_temp = procesar_segmento_blindado(a, m, t)\n","               \n","                if df_temp:\n","                    if df_acumulado is None:\n","                        df_acumulado = df_temp\n","                    else:\n","                        df_acumulado = df_acumulado.unionByName(df_temp, allowMissingColumns=True)\n"," \n","    if df_acumulado is None:\n","        raise Exception(\"No se encontraron datos. Verifica la RUTA_BASE.\")\n"," \n","    # Definición de Cuarentena\n","    condicion_ok = (\n","        col(\"pickup_datetime\").isNotNull() &\n","        col(\"dropoff_datetime\").isNotNull() &\n","        col(\"trip_distance\").isNotNull() &\n","        col(\"total_amount\").isNotNull() &\n","        col(\"PULocationID\").isNotNull() &\n","        col(\"DOLocationID\").isNotNull()\n","    )\n"," \n","    df_validos = df_acumulado.filter(condicion_ok)\n","    df_rechazados = df_acumulado.filter(~condicion_ok)\n"," \n","    # Guardado final\n","    ruta_ok = \"abfss://nyctaxi-raw@stnycanalysis.dfs.core.windows.net/cuarentena/datos_con_columnas/\"\n","    ruta_err = \"abfss://nyctaxi-raw@stnycanalysis.dfs.core.windows.net/cuarentena/sin_columnas_kpis/\"\n"," \n","    print(\"Escribiendo resultados en el Data Lake...\")\n","    df_validos.write.mode(\"overwrite\").parquet(ruta_ok)\n","    df_rechazados.write.mode(\"overwrite\").parquet(ruta_err)\n"," \n","    print(\"Proceso finalizado con éxito!\")\n"," \n","except Exception as e:\n","    print(f\"Error crítico: {e}\")"],"outputs":[],"execution_count":4},{"cell_type":"code","metadata":{},"source":["spark.stop()"],"outputs":[],"execution_count":5}]},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/Processed')]","type":"Microsoft.Synapse/workspaces/notebooks","apiVersion":"2019-06-01-preview","properties":{"nbformat":4,"nbformat_minor":2,"bigDataPool":{"referenceName":"nyctaxispark","type":"BigDataPoolReference"},"sessionProperties":{"driverMemory":"28g","driverCores":4,"executorMemory":"28g","executorCores":4,"numExecutors":1,"runAsWorkspaceSystemIdentity":false,"conf":{"spark.dynamicAllocation.enabled":"true","spark.dynamicAllocation.minExecutors":"1","spark.dynamicAllocation.maxExecutors":"1","spark.autotune.trackingId":"22955558-c25f-4481-a7d3-5992156b3a0e"}},"metadata":{"saveOutput":true,"enableDebugMode":false,"language_info":{"name":"python"},"a365ComputeOptions":{"id":"/subscriptions/4789492b-45b8-4131-a6a2-7774022abbb2/resourceGroups/rg-nyctaxianalysis-dev/providers/Microsoft.Synapse/workspaces/synw-nyctaxi-dev/bigDataPools/nyctaxispark","name":"nyctaxispark","type":"Spark","endpoint":"https://synw-nyctaxi-dev.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/nyctaxispark","auth":{"type":"AAD","authResource":"https://dev.azuresynapse.net","authHeader":null},"sparkVersion":"3.5","nodeCount":3,"cores":4,"memory":28,"extraHeader":null},"sessionKeepAliveTimeout":15},"cells":[{"cell_type":"code","metadata":{},"source":["from pyspark.sql import SparkSession\n"," \n","# Crear una sesión de Spark\n","spark = SparkSession.builder \\\n","    .appName(\"Processed NYC Taxis\") \\\n","    .getOrCreate()"],"outputs":[],"execution_count":1},{"cell_type":"code","metadata":{},"source":["from pyspark.sql.functions import col, count, sum as spark_sum, avg, year, month, round, unix_timestamp, sin, cos, log, exp, when, abs\n","from pyspark.ml.feature import VectorAssembler\n","from pyspark.ml.regression import LinearRegression\n","import math\n","\n","print(\"Iniciando PROCESSED: Entrenamiento con ventana de 3 meses y Validación...\")\n","\n","# LECTURA DE DATOS\n","ruta_cuarentena_ok = \"abfss://nyctaxi-raw@stnycanalysis.dfs.core.windows.net/cuarentena/datos_con_columnas/\"\n","df_crudo = spark.read.parquet(ruta_cuarentena_ok)\n","\n","# LIMPIEZA Y KPIs\n","df_limpio = df_crudo.dropDuplicates().dropna(subset=[\"PULocationID\", \"DOLocationID\"])\n","df_limpio = df_limpio.withColumn(\"duration_min\", (unix_timestamp(col(\"dropoff_datetime\")) - unix_timestamp(col(\"pickup_datetime\"))) / 60)\n","df_limpio = df_limpio.filter((col(\"duration_min\") >= 0.5) & (col(\"duration_min\") <= 300) & (col(\"trip_distance\") > 0) & (col(\"total_amount\") >= 2.50))\n","\n","df_kpis = df_limpio.groupBy(year(\"pickup_datetime\").alias(\"Anio\"), month(\"pickup_datetime\").alias(\"Mes\")).agg(count(\"*\").alias(\"Total_Viajes\"))\n","\n","# PREPARACIÓN DEL MODELO (Índice Temporal)\n","df_ml = df_kpis.withColumn(\"Indice_Temporal\", (col(\"Anio\") - 2021) * 12 + col(\"Mes\")).orderBy(\"Indice_Temporal\")\n","\n","# FILTRADO: ENTRENAMIENTO SOLO CON LOS ÚLTIMOS 3 MESES (Oct, Nov, Dic 2025)\n","# Suponiendo que el forecast es para Enero/Feb/Mar 2026, entrenamos con el final de 2025\n","print(\"Filtrando ventana de entrenamiento: Últimos 3 meses de 2025...\")\n","df_entrenamiento_3m = df_ml.filter((col(\"Anio\") == 2025) & (col(\"Mes\") >= 10))\n","\n","# Log Transform y Features\n","df_entrenamiento_3m = df_entrenamiento_3m.withColumn(\"label_log\", log(col(\"Total_Viajes\") + 1))\n","ensamblador = VectorAssembler(inputCols=[\"Indice_Temporal\"], outputCol=\"features\")\n","\n","df_train_final = ensamblador.transform(df_entrenamiento_3m)\n","\n","# Entrenamiento del modelo\n","modelo = LinearRegression(featuresCol=\"features\", labelCol=\"label_log\").fit(df_train_final)\n","\n","# FORECAST: ENERO, FEBRERO Y MARZO 2026\n","# Creamos los índices para Ene(61), Feb(62), Mar(63) basándonos en el inicio 2021\n","futuro_datos = [(61, 2026, 1, \"Enero 2026\"), (62, 2026, 2, \"Febrero 2026\"), (63, 2026, 3, \"Marzo 2026\")]\n","df_futuro = spark.createDataFrame(futuro_datos, [\"Indice_Temporal\", \"Anio\", \"Mes\", \"Periodo\"])\n","\n","# Predicción\n","df_prediccion = modelo.transform(ensamblador.transform(df_futuro))\n","df_forecast = df_prediccion.withColumn(\"Demanda_Predicha\", round(exp(col(\"prediction\")) - 1, 0).cast(\"integer\")) \\\n","                           .select(\"Anio\", \"Mes\", \"Periodo\", \"Demanda_Predicha\")\n","\n","print(\"\\nPREDICCIÓN (FORECAST):\")\n","df_forecast.show()\n","\n","# COMPARACIÓN CON DATOS ORIGINALES (Enero y Febrero 2026)\n","print(\"Comparando con datos reales de Enero y Febrero...\")\n","\n","# Extraemos los reales del df_ml original\n","df_reales = df_ml.filter((col(\"Anio\") == 2026) & (col(\"Mes\").isin(1, 2, 3))) \\\n","                 .select(col(\"Anio\"), col(\"Mes\"), col(\"Total_Viajes\").alias(\"Demanda_Real\"))\n","\n","# Cruzamos Predicción vs Realidad\n","df_comparativa = df_forecast.join(df_reales, [\"Anio\", \"Mes\"], \"inner\") \\\n","    .withColumn(\"Desviacion_Abs\", abs(col(\"Demanda_Real\") - col(\"Demanda_Predicha\"))) \\\n","    .withColumn(\"Error_Pct\", round((col(\"Desviacion_Abs\") / col(\"Demanda_Real\")) * 100, 2))\n","\n","print(\"\\nRESULTADO DE LA COMPARACIÓN (REAL vs PREDICHO):\")\n","df_comparativa.select(\"Periodo\", \"Demanda_Real\", \"Demanda_Predicha\", \"Error_Pct\").show()\n","\n","# GUARDADO\n","ruta_processed_forecast = \"abfss://nyctaxi-processed@stnycanalysis.dfs.core.windows.net/processed/df_forecast_2026/\"\n","ruta_comparativa = \"abfss://nyctaxi-processed@stnycanalysis.dfs.core.windows.net/processed/df_comparativa_real_2026/\"\n","\n","df_forecast.write.mode(\"overwrite\").parquet(ruta_processed_forecast)\n","df_comparativa.write.mode(\"overwrite\").parquet(ruta_comparativa)\n","\n","print(\"Pipeline finalizado con éxito.\")"],"outputs":[],"execution_count":27},{"cell_type":"code","metadata":{},"source":["from pyspark.sql.functions import col, count, sum as spark_sum, avg, year, month, round, unix_timestamp, sin, cos, log, exp, when, abs\n","from pyspark.ml.feature import VectorAssembler\n","from pyspark.ml.regression import LinearRegression\n","import math\n","\n","print(\"Iniciando PROCESSED: Entrenamiento con ventana de 3 meses y Validación...\")\n","\n","# LECTURA DE DATOS\n","ruta_cuarentena_ok = \"abfss://nyctaxi-raw@stnycanalysis.dfs.core.windows.net/cuarentena/datos_con_columnas/\"\n","df_crudo = spark.read.parquet(ruta_cuarentena_ok)\n","\n","# LIMPIEZA Y KPIs\n","df_limpio = df_crudo.dropDuplicates().dropna(subset=[\"PULocationID\", \"DOLocationID\"])\n","df_limpio = df_limpio.withColumn(\"duration_min\", (unix_timestamp(col(\"dropoff_datetime\")) - unix_timestamp(col(\"pickup_datetime\"))) / 60)\n","df_limpio = df_limpio.filter((col(\"duration_min\") >= 0.5) & (col(\"duration_min\") <= 300) & (col(\"trip_distance\") > 0) & (col(\"total_amount\") >= 2.50))\n","\n","df_limpio.show(5)"],"outputs":[],"execution_count":41},{"cell_type":"code","metadata":{},"source":["from pyspark.sql.functions import col, count, sum as spark_sum, avg, year, month, round, unix_timestamp, sin, cos, log, exp, when, abs\n","from pyspark.ml.feature import VectorAssembler\n","from pyspark.ml.regression import LinearRegression\n","import math\n","\n","print(\"Iniciando PROCESSED: Entrenamiento con ventana de 3 meses y Validación...\")\n","\n","# LECTURA DE DATOS\n","ruta_cuarentena_ok = \"abfss://nyctaxi-raw@stnycanalysis.dfs.core.windows.net/cuarentena/datos_con_columnas/\"\n","df_crudo = spark.read.parquet(ruta_cuarentena_ok)\n","\n","# LIMPIEZA Y KPIs\n","df_limpio = df_crudo.dropDuplicates().dropna(subset=[\"PULocationID\", \"DOLocationID\"])\n","df_limpio = df_limpio.withColumn(\"duration_min\", (unix_timestamp(col(\"dropoff_datetime\")) - unix_timestamp(col(\"pickup_datetime\"))) / 60)\n","df_limpio = df_limpio.filter((col(\"duration_min\") >= 0.5) & (col(\"duration_min\") <= 300) & (col(\"trip_distance\") > 0) & (col(\"total_amount\") >= 2.50))\n","\n","df_kpis = df_limpio.groupBy(year(\"pickup_datetime\").alias(\"Anio\"), month(\"pickup_datetime\").alias(\"Mes\")).agg(count(\"*\").alias(\"Total_Viajes\"))\n","\n","# PREPARACIÓN DEL MODELO (Índice Temporal)\n","df_ml = df_kpis.withColumn(\"Indice_Temporal\", (col(\"Anio\") - 2021) * 12 + col(\"Mes\")).orderBy(\"Indice_Temporal\")\n","\n","# FILTRADO: ENTRENAMIENTO SOLO CON LOS ÚLTIMOS 3 MESES DE 2024\n","print(\"Filtrando ventana de entrenamiento: Últimos 3 meses de 2024...\")\n","df_entrenamiento_3m = df_ml.filter((col(\"Anio\") == 2024) & (col(\"Mes\") >= 10))\n","\n","# Log Transform y Features\n","df_entrenamiento_3m = df_entrenamiento_3m.withColumn(\"label_log\", log(col(\"Total_Viajes\") + 1))\n","ensamblador = VectorAssembler(inputCols=[\"Indice_Temporal\"], outputCol=\"features\")\n","\n","df_train_final = ensamblador.transform(df_entrenamiento_3m)\n","\n","# Entrenamiento del modelo\n","modelo = LinearRegression(featuresCol=\"features\", labelCol=\"label_log\").fit(df_train_final)\n","\n","# FORECAST: ENERO, FEBRERO Y MARZO 2025\n","# Índices para 2025 basándonos en el inicio de 2021: Ene(49), Feb(50), Mar(51)\n","futuro_datos = [(49, 2025, 1, \"Enero 2025\"), (50, 2025, 2, \"Febrero 2025\"), (51, 2025, 3, \"Marzo 2025\")]\n","df_futuro = spark.createDataFrame(futuro_datos, [\"Indice_Temporal\", \"Anio\", \"Mes\", \"Periodo\"])\n","\n","# Predicción\n","df_prediccion = modelo.transform(ensamblador.transform(df_futuro))\n","df_forecast = df_prediccion.withColumn(\"Demanda_Predicha\", round(exp(col(\"prediction\")) - 1, 0).cast(\"integer\")) \\\n","                           .select(\"Anio\", \"Mes\", \"Periodo\", \"Demanda_Predicha\")\n","\n","print(\"\\nPREDICCIÓN (FORECAST 2025):\")\n","df_forecast.show()\n","\n","# COMPARACIÓN CON DATOS REALES (Enero y Febrero 2025)\n","print(\"Comparando con datos reales de Enero y Febrero 2025...\")\n","\n","# Extraemos los reales del df_ml original (donde sí hay millones de viajes)\n","df_reales = df_ml.filter((col(\"Anio\") == 2025) & (col(\"Mes\").isin(1, 2, 3))) \\\n","                 .select(col(\"Anio\"), col(\"Mes\"), col(\"Total_Viajes\").alias(\"Demanda_Real\"))\n","\n","# Cruzamos Predicción vs Realidad\n","df_comparativa = df_forecast.join(df_reales, [\"Anio\", \"Mes\"], \"inner\") \\\n","    .withColumn(\"Desviacion_Abs\", abs(col(\"Demanda_Real\") - col(\"Demanda_Predicha\"))) \\\n","    .withColumn(\"Error_Pct\", round((col(\"Desviacion_Abs\") / col(\"Demanda_Real\")) * 100, 2))\n","\n","print(\"\\nRESULTADO DE LA COMPARACIÓN (REAL vs PREDICHO):\")\n","df_comparativa.select(\"Periodo\", \"Demanda_Real\", \"Demanda_Predicha\", \"Error_Pct\").show()\n","\n","ruta_processed_forecast = \"abfss://nyctaxi-processed@stnycanalysis.dfs.core.windows.net/processed/df_forecast_2025/\"\n","ruta_comparativa = \"abfss://nyctaxi-processed@stnycanalysis.dfs.core.windows.net/processed/df_comparativa_real_2025/\"\n","\n","print(\"Pipeline finalizado con éxito.\")"],"outputs":[],"execution_count":28},{"cell_type":"code","metadata":{},"source":["from pyspark.sql.functions import col, count, sum as spark_sum, avg, year, month, round, unix_timestamp, log, exp, abs\n","from pyspark.ml.feature import VectorAssembler\n","from pyspark.ml.regression import LinearRegression\n","\n","print(\"Iniciando PROCESSED: Entrenamiento de 3 KPIs (Ventana 3 meses)...\")\n","\n","# LECTURA Y LIMPIEZA\n","ruta_cuarentena_ok = \"abfss://nyctaxi-raw@stnycanalysis.dfs.core.windows.net/cuarentena/datos_con_columnas/\"\n","df_crudo = spark.read.parquet(ruta_cuarentena_ok)\n","\n","df_limpio = df_crudo.dropDuplicates().dropna(subset=[\"PULocationID\", \"DOLocationID\"])\n","df_limpio = df_limpio.withColumn(\"duration_min\", (unix_timestamp(col(\"dropoff_datetime\")) - unix_timestamp(col(\"pickup_datetime\"))) / 60)\n","df_limpio = df_limpio.filter((col(\"duration_min\") >= 0.5) & (col(\"duration_min\") <= 300) & (col(\"trip_distance\") > 0) & (col(\"total_amount\") >= 2.50))\n","\n","# CÁLCULO DE LOS 3 KPIs (Demanda, Ingresos y Distancia)\n","df_kpis = df_limpio.groupBy(year(\"pickup_datetime\").alias(\"Anio\"), month(\"pickup_datetime\").alias(\"Mes\")).agg(\n","    count(\"*\").alias(\"Total_Viajes\"),\n","    round(spark_sum(\"total_amount\"), 2).alias(\"Ingresos_Totales\"),\n","    round(avg(\"trip_distance\"), 2).alias(\"Distancia_Media\")\n",")\n","\n","df_ml = df_kpis.withColumn(\"Indice_Temporal\", (col(\"Anio\") - 2021) * 12 + col(\"Mes\")).orderBy(\"Indice_Temporal\")\n","\n","# PREPARACIÓN DE DATOS (Entrenamiento y Futuro)\n","print(\"Preparando datos de entrenamiento y futuro...\")\n","df_entrenamiento_3m = df_ml.filter((col(\"Anio\") == 2024) & (col(\"Mes\") >= 10))\n","\n","ensamblador = VectorAssembler(inputCols=[\"Indice_Temporal\"], outputCol=\"features\")\n","df_train_features = ensamblador.transform(df_entrenamiento_3m)\n","\n","# Creamos el dataframe vacío para los próximos 3 meses\n","futuro_datos = [(49, 2025, 1, \"Enero 2025\"), (50, 2025, 2, \"Febrero 2025\"), (51, 2025, 3, \"Marzo 2025\")]\n","df_forecast = spark.createDataFrame(futuro_datos, [\"Indice_Temporal\", \"Anio\", \"Mes\", \"Periodo\"])\n","df_futuro_features = ensamblador.transform(df_forecast)\n","\n","# ENTRENAMIENTO Y FORECAST BUCLE (Los 3 KPIs)\n","kpis_a_predecir = [\"Total_Viajes\", \"Ingresos_Totales\", \"Distancia_Media\"]\n","\n","print(\"Entrenando modelos para cada KPI...\")\n","\n","for kpi in kpis_a_predecir:\n","    # Transformación Logarítmica para estabilizar el modelo\n","    df_train_kpi = df_train_features.withColumn(\"label_log\", log(col(kpi) + 1))\n","    \n","    # Entrenamos el modelo específico para este KPI\n","    modelo = LinearRegression(featuresCol=\"features\", labelCol=\"label_log\").fit(df_train_kpi)\n","    \n","    # Hacemos la predicción\n","    df_pred = modelo.transform(df_futuro_features)\n","    \n","    # Revertimos el logaritmo y formateamos (Enteros para viajes, decimales para el resto)\n","    nombre_col_pred = f\"Pred_{kpi}\"\n","    if kpi == \"Total_Viajes\":\n","        df_pred = df_pred.withColumn(nombre_col_pred, round(exp(col(\"prediction\")) - 1, 0).cast(\"integer\"))\n","    else:\n","        df_pred = df_pred.withColumn(nombre_col_pred, round(exp(col(\"prediction\")) - 1, 2))\n","        \n","    # Juntamos la nueva predicción a nuestra tabla final de forecast\n","    df_forecast = df_forecast.join(df_pred.select(\"Indice_Temporal\", nombre_col_pred), [\"Indice_Temporal\"], \"inner\")\n","\n","print(\"\\nPREDICCIÓN A 3 MESES (FORECAST DE 3 KPIs):\")\n","df_forecast.select(\"Periodo\", \"Pred_Total_Viajes\", \"Pred_Ingresos_Totales\", \"Pred_Distancia_Media\").show()\n","\n","# COMPARACIÓN CON DATOS REALES\n","print(\"Comparando Predicciones vs Realidad (Ene, Feb, Mar 2025)...\")\n","\n","# Extraemos los datos reales de los 3 KPIs\n","df_reales = df_ml.filter((col(\"Anio\") == 2025) & (col(\"Mes\").isin(1, 2, 3))) \\\n","                 .select(\"Anio\", \"Mes\", \n","                         col(\"Total_Viajes\").alias(\"Real_Total_Viajes\"),\n","                         col(\"Ingresos_Totales\").alias(\"Real_Ingresos_Totales\"),\n","                         col(\"Distancia_Media\").alias(\"Real_Distancia_Media\"))\n","\n","df_comparativa = df_forecast.join(df_reales, [\"Anio\", \"Mes\"], \"inner\")\n","\n","# Calculamos el error porcentual de los 3\n","for kpi in kpis_a_predecir:\n","    col_real = f\"Real_{kpi}\"\n","    col_pred = f\"Pred_{kpi}\"\n","    col_error = f\"ErrorPct_{kpi}\"\n","    \n","    df_comparativa = df_comparativa.withColumn(\n","        col_error, round((abs(col(col_real) - col(col_pred)) / col(col_real)) * 100, 2)\n","    )\n","\n","df_comparativa = df_comparativa.orderBy(\"Mes\")\n","\n","print(\"\\nRESULTADO DEL ERROR DE PREDICCIÓN (%):\")\n","df_comparativa.select(\"Periodo\", \"ErrorPct_Total_Viajes\", \"ErrorPct_Ingresos_Totales\", \"ErrorPct_Distancia_Media\").show()\n","\n","# GUARDADO EN CAPA PROCESSED\n","ruta_processed_forecast = \"abfss://nyctaxi-processed@stnycanalysis.dfs.core.windows.net/processed/df_forecast_2025/\"\n","ruta_comparativa = \"abfss://nyctaxi-processed@stnycanalysis.dfs.core.windows.net/processed/df_comparativa_real_2025/\"\n","\n","df_forecast.write.mode(\"overwrite\").parquet(ruta_processed_forecast)\n","df_comparativa.write.mode(\"overwrite\").parquet(ruta_comparativa)\n","\n","print(\"Pipeline finalizado con éxito. Los 3 KPIs han sido predecidos.\")"],"outputs":[],"execution_count":2},{"cell_type":"code","metadata":{},"source":["spark.stop()"],"outputs":[],"execution_count":29}]},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/Parquet3')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('HttpServer3')]","type":"LinkedServiceReference"},"parameters":{"NombreArchivo":{"type":"string"}},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"@dataset().NombreArchivo","type":"Expression"}},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/Parquet4')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('synw-nyctaxi-dev-WorkspaceDefaultStorage')]","type":"LinkedServiceReference"},"parameters":{"p_anio":{"type":"string"},"p_mes":{"type":"string"},"p_tipo":{"type":"string"}},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":{"value":"@concat('raw/year=', dataset().p_anio, '/month=', dataset().p_mes, '/type=', dataset().p_tipo)","type":"Expression"},"fileSystem":"nyctaxi-raw"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}